{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/Main/case-details.css')}}">
{% endblock %}

{% block title %}
Case Details
{% endblock %}

{% block nav %}
<a href="{{ url_for('dashboard.index') }}" class="nav-item">
  <i class="fas fa-chevron-left"></i>
  Back
</a>
{% endblock %}

{% block body %}
<div class="container">
  <div class="container-header">
    <div class="container-header-box">
      <h1>{{ case.title }}</h1>
      {% if case.status %}
      <span class="status-badge completed">Ongoing</span>
      {% else %}
      <span class="status-badge cancelled">Closed</span>
      {% endif %}
    </div>
    <div class="case-summary">
      <p>Case No: {{ case.case_number }} | {{ case.court_name }}</p>
      <p><b>Opposing Party:</b> {{ case.opposing_party }}</p>
      <p><b>Opposing Counsel:</b> {{ case.opposing_counsel }}</p>
    </div>
  </div>
  <div class="container-content">
    <div class="case-box container-box">
      <div class="header">
        <h1>Case Summary</h1>
      </div>
      <div class="case-box-details">
        <div class="detail-note">
          <h4>Description</h4>
          <p>{{ case.description }}</p>
        </div>
      </div>

    </div>

    <div class="case-note-box container-box">
      <div class="header">
        <h1>Case Notes</h1>
        <a href="{{ url_for('case.add_note', case_id=case.unique_id) }}">
          <button class="btn btn-primary">Add Note</button>
        </a>
      </div>
      <div class="case-box-details">
        {% if notes %}
        {% for note in notes %}
        <div class="case-note {% if note.is_internal %}internal{% endif %}">
          <div class="case-note-header">
            <h4>{{ note.created_at.strftime("%b %d, %Y at %I:%M %p") }}</h4>
            <div class="case-note-actions">
              <a href="#">
                <i class="fas fa-edit"></i>
              </a>
              <a href="{{ url_for('case.remove_case_note', note_id=note.unique_id, case_id=case.unique_id) }}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
          <div class="case-note-body">
            <p>{{ note.content }}</p>
          </div>
          <div class="case-note-footer">
            {% if note.is_internal %}
            <span class="status-badge internal-badge" title="This note is only visible to you">internal</span>
            {% else %}
            <span class="status-badge external-badge"
              title="This note is visible to both you and the client">public</span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="no-data">
          <p>No notes added</p>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="client-box container-box">
      <div class="header">
        <h1>Client's Profile</h1>
      </div>
      <div class="case-box-details">
        <div class="detail-note">
          <h4>Full Name</h4>
          <p>{{ client.first_name }} {{ client.last_name }}</p>
        </div>
        <div class="detail-note">
          <h4>Email Address</h4>
          <p>{{ client.email }}</p>
        </div>
        <div class="detail-note">
          <h4>Phone Number</h4>
          <p>{{ client.phone }}</p>
        </div>
      </div>
      <div class="case-actions">
        <a href="{{ url_for('case.close_case', case_id=case.unique_id) }}">
          <button class="btn btn-primary">Close Case</button>
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}