{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/Main/case-details.css')}}">
{% endblock %}

{% block title %}
Case Details
{% endblock %}

{% block nav %}
<a href="{{ url_for('dashboard.index') }}" class="nav-item">
  <i class="fas fa-chevron-left"></i>
  Back
</a>
{% endblock %}

{% block body %}
<div class="container">
  <div class="container-header">
    <div class="container-header-box">
      <h1>{{ case.title }}</h1>
      {% if case.status.ACTIVE %}
      <span class="status-badge completed">Ongoing</span>
      {% else %}
      <span class="status-badge cancelled">Closed</span>
      {% endif %}
    </div>
    <div class="case-summary">
      <p><b>Case No:</b> {{ case.case_number }} | {{ case.court_name }}</p>
      <p><b>Opposing Party:</b> {{ case.opposing_party }}</p>
      <p><b>Opposing Counsel:</b> {{ case.opposing_counsel }}</p>
    </div>
  </div>
  <div class="container-content">
    <div class="case-box container-box">
      <div class="header">
        <h1>Case Summary</h1>
        <a href="{{ url_for('case.edit_case', case_id=case.unique_id) }}">
          <i title="Edit case details" class="fas fa-edit"></i>
        </a>
      </div>
      <div class="case-box-details">
        <div class="detail-note">
          <h4>Description</h4>
          <p>{{ case.description }}</p>
        </div>
        <div class="detail-note">
          <h4>Case Type</h4>
          <p>{{ case.case_type }}</p>
        </div>
        {% if payments %}
        <hr id="hr">
        <div class="detail-note">
          <h4>Payment Records</h4>
          <div class="payment-box">
            {% for payment in payments %}
            <div class="payment">
              <h4>Amount</h4>
              <p>{{ "Ksh {:,}".format(payment.amount) }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="case-actions">
        <button id="OpenPaymentModalBtn" class="btn btn-primary">Add Payment</button>
      </div>
    </div>

    <div class="case-note-box container-box">
      <div class="header">
        <h1>Case Notes</h1>
        <button id="OpenNoteModalBtn" class="btn btn-primary">Add Note</button>
      </div>
      <div class="case-box-details">
        {% if notes %}
        {% for note in notes %}
        <div class="case-note">
          <div class="case-note-header">
            <h4>{{ note.created_at.strftime("%b %d, %Y at %I:%M %p") }}</h4>
            {% if note.is_editable %}
            <div class="case-note-actions">
              <a href="{{ url_for('case.edit_case_note', case_id=case.alias, case_note_id=note.unique_id) }}">
                <i class="fas fa-edit"></i>
              </a>
              <a href="{{ url_for('case.remove_case_note', note_id=note.unique_id, case_id=case.alias) }}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
            {% endif %}
          </div>
          <div class="case-note-body">
            <p>{{ note.content }}</p>
            {% if note.case_files %}
            <div class="case-files-box">
              {% for case_file in case_files if case_file.case_note_id == note.id %}
              <div class="case-file">
                <a style="display: flex; align-items: center; gap:1rem" download="true"
                  href="https://lawfirm1234.s3.eu-north-1.amazonaws.com/{{ case_file.file_name }}">
                  <h4>{{ case_file.file_name|truncate(20) }}</h4>
                  <i class="fas fa-download"></i>
                </a>
              </div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="case-note-footer">
            {% if note.is_internal %}
            <span class="status-badge internal-badge" title="This note is only visible to you">internal</span>
            {% else %}
            <span class="status-badge external-badge"
              title="This note is visible to both you and the client">public</span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="no-data">
          <p>No notes added</p>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="client-box container-box">
      <div class="header">
        <h1>Client's Profile</h1>
      </div>
      <div class="case-box-details">
        <div class="detail-note">
          <h4>Full Name</h4>
          {% if current_user.role_name == "Lawyer" %}
          <a style="display: flex; align-items: center; gap:.2rem;"
            href="{{ url_for('client.client_profile', client_id=client.unique_id) }}">
            <p>{{ client.first_name }} {{ client.last_name }}</p>
            <i class="fas fa-arrow-up-right-from-square"></i>
          </a>
          {% elif current_user.role_name == "Client" %}
          <p>{{ client.lawyer.first_name }} {{ client.lawyer.last_name }}</p>
          {% endif %}
        </div>
        <div class="detail-note">
          <h4>Email Address</h4>
          {% if current_user.role_name == "Lawyer" %}
          <p>{{ client.email }}</p>
          {% elif current_user.role_name == "Client" %}
          <p>{{ client.lawyer.email }}</p>
          {% endif %}
        </div>
        {% if current_user.role_name == "Lawyer" and client.phone %}
        <div class="detail-note">
          <h4>Phone Number</h4>
          <p>{{ client.phone }}</p>
        </div>
        {% elif current_user.role_name == "Client" and client.lawyer.phone %}
        <div class="detail-note">
          <h4>Phone Number</h4>
          <p>{{ client.lawyer.phone }}</p>
        </div>
        {% endif %}
      </div>
      <div class="case-actions">
        <a href="{{ url_for('case.close_case', case_id=case.unique_id) }}">
          <button class="btn btn-primary">Close Case</button>
        </a>
      </div>
    </div>

  </div>
</div>

<div id="NoteFormModal" class="modal active">
  <div class="modal-content">
    <span class="close close-note">&times;</span>
    <h2>Add Note</h2>
    <p>Add new details of the case</p>
    <form action="{{ url_for('case.add_note', case_id=case.unique_id) }}" method="post" enctype="multipart/form-data">
      {{ note_form.csrf_token }}

      <div class="form-group extend">
        {{ note_form.content.label }}
        {{ note_form.content(placeholder="Enter Note Content") }}
      </div>

      <div class="form-group extend">
        {{ note_form.is_internal.label }}
        {{ note_form.is_internal }}
      </div>

      <div class="form-group extend">
        {{ note_form.case_files.label }}
        {{ note_form.case_files }}
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">Add Note</button>
      </div>
    </form>
  </div>
</div>

<div id="PaymentFormModal" class="modal">
  <div class="modal-content">
    <span class="close close-payment">&times;</span>
    <h2>Record Payment</h2>
    <p></p>
    <form action="{{ url_for('case.add_payment', case_id=case.unique_id) }}" method="post">
      {{ payment_form.csrf_token }}
      <div class="form-group extend">
        {{ payment_form.amount.label }}
        {{ payment_form.amount(placeholder="Enter Payment Amount") }}
      </div>

      <div class="form-group extend">
        {{ payment_form.payment_method.label }}
        {{ payment_form.payment_method }}
      </div>

      <div class="form-group extend">
        {{ payment_form.reference.label }}
        {{ payment_form.reference(placeholder="Enter Reference Number/ Cheque Number") }}
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">Add Payment</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}