.container {
  display: grid;
  gap: 2rem;
}

.container-header-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.case-summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.case-summary p {
  margin-right: 1rem;
}

.container-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  padding-left: 0.1rem;
}

.container-box,
.case-note {
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  height: max-content;
}

.case-note-box {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.payment-box {
  display: grid;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

.payment {
  background-color: var(--color-light-grey-2);
  padding: 0.4rem 0.8rem;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  font-size: 0.9rem;
}

.header h1 {
  font-size: 1.2rem;
}

.case-box,
.client-box {
  max-width: 15rem;
  min-width: 15rem;
  position: sticky;
  top: 0;
}

.case-box-details {
  display: grid;
  gap: 0.5rem;
}

.case-note h4 {
  font-size: 0.8rem;
}

.case-note p {
  font-size: 1.1rem;
}

.case-note-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.case-files-box {
  margin-block: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.case-file {
  padding: 0.5rem;
  outline: 1px;
  background-color: var(--color-light-grey-2);
  outline: 2px solid var(--color-accent-blue);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

.case-file h4,
.case-file i {
  color: var(--color-text-secondary);
  font-size: 0.9rem;
}

.case-note-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-edit {
  color: var(--warning);
}

.fa-trash {
  color: var(--danger);
}

.case-actions {
  margin-top: 1rem;
}

.case-actions a button,
.case-actions button {
  width: 100%;
  background-color: var(--danger);
}

.case-actions button {
  background-color: var(--color-accent-green);
}

.internal-badge,
.external-badge {
  padding: 0;
  background-color: transparent;
  color: var(--danger);
  text-transform: capitalize;
  cursor: pointer;
}

.external-badge {
  color: var(--warning);
}

.modal-content form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.extend,
.form-actions {
  grid-column: 1/-1;
}

.form-group {
  display: grid;
  gap: 0.5rem;
}

.form-group label {
  display: block;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  outline: 1px solid #e2e8f0;
  border-radius: 6px;
  font-size: 1rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

#cancelBtn {
  background-color: var(--danger);
  color: var(--color-white);
}

.else {
  text-align: center;
  color: red;
}

@media screen and (max-width: 1200px) {
  .container-content {
    grid-template-columns: 1fr;
  }
}
