{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Error/errors.css') }}">
{% endblock %}

{% block title %}
Method Not Allowed (405)
{% endblock %}

{% block body %}
<main>
  <div class="image-box">
    <img loading="lazy" src="{{ url_for('static', filename='Images/405.png') }}" alt="">
  </div>
  <div class="content">
    <h1>Method not allowed (405)</h1>
    <p>Check your Url</p>
  </div>
  <div class="actions">
    <a href="{{ url_for('dashboard.index') }}">
      <button>Back Home</button>
    </a>
  </div>
</main>
{% endblock %}